// Global
$main-bg: #131313;

// Navbar
$nav-btn-bg: #0051ee;
$nav-btn-icon-bg: #fff;
$nav-btn-text: #fff;

// Transaction component
$transaction-record-bg: #000000;
$transaction-icon-entertainment: #ee0000;
$transaction-icon-color: #ffffff;
$transaction-title: #ffffff;
$transaction-desc: #929292;
$transaction-amount: #ffffff;
