// Global
$main-bg: #141414;

// Navbar
$nav-btn-bg : #0051EE;
$nav-btn-icon-bg : #FFF;
$nav-btn-text: #FFF;

// Transaction component
$transaction-record-bg : #000000; 
$transaction-icon-entertainment: #EE0000;
$transaction-icon-color: #FFFFFF;
$transaction-title: #FFFFFF;
$transaction-desc: #929292;
$transaction-amount: #FFFFFF;