// Global
$main-bg: #131313;

// Navbar
$nav-btn-bg: #0051ee;
$nav-btn-icon-bg: #fff;
$nav-btn-text: #fff;

// Transaction component
$transaction-record-bg: #000000;
$transaction-title: #ffffff;
$transaction-desc: #929292;
$transaction-amount: #ffffff;

// Transaction icon component
$transaction-icon-entertainment: #ee0000;
$transaction-icon-food: #ffee00;
$transaction-icon-income: #68e700;
$transaction-icon-shopping: #008fee;
$transaction-icon-music: #8300ee;
$transaction-icon-color: #ffffff;

// Account balance component

// Amount display component

// Page section component

// Savings section component

// Transaction record component

// Welcome title component
